@charset "UTF-8";


.site-title {
	float: right;
}

.container{
      max-width: 1080px;
}

.horarioTable{
    margin-left:80px;
    margin-top:3rem;
}

.horario2{
	position: relative;
	display: flex;
	height:100px;
	width: 100%;
	margin: 25px 0px 25px 0px;
	z-index: 1;
}
.title-td-delete{
	color: red;
}

.section-selected {
	/*box-shadow: inset 0 0 10px #3a8b00;*/
	box-shadow: inset 0 0 20px #3e7fba;
}

.no-bullets {
    list-style-type: none;
}

#draggable { 
	width: 100px; 
	padding: 0.5em;
}

.horarios{
	height: 800px;
	width: 300px;
	background-color: white;
	margin-left: 5%; 
	color:#606060;
	text-align: center;
	padding:4.8px;
}

.list-horarios{
	height: 700px;
	overflow: scroll;

}

.schedule__table td {

	height: 65px;
}

.td-data-hour--subject-postulate {
	background-color: #f2f9ff;
	box-shadow: 0 8px 6px -6px #b0c4c9;
	border:none;
}

.td-data-hour--subject-required {
	/*box-shadow: inset 0 0 10px #b0c4c9;
	background-color: #f2f9ff;*/
	box-shadow: 0 8px 6px -6px #ff8782;
	background-color: #ffebeb;
	border:none;
}

.lista-info {
	float:left;
	margin-right: 100px;
	margin-top: 40px;
    list-style: none;
}

.title-td-section {
    margin-bottom: 0px;
}

a:focus, a:hover {
    color: #002443;
    text-decoration: none;
}

.fa-check-circle:before {
    content: "\f058";
    color: #9acb34;
    font-size: 50px;
}

.modal-body h4 {
	font-size: 2rem;
}

.glosario{
	margin-top: 30px;
}

@media (max-width: 650px) {
	
	.glosario .no-bullets {
    list-style-type: none;
    background-color: white;
    padding: 20px 0px 20px 20px;
    width: 300px;
}

}

.glosario .no-bullets {
    list-style-type: none;
    background-color: white;
    margin-left: 16.4844px;
    padding: 20px 0px 20px 20px;
    width: 300px;
}

.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.puede .dot {
  background-color: #f2f9ff;
  box-shadow: 0 6px 6px -5px #b0c4c9;
}

.topeH .dot {
  background-color: #ffebeb;
  box-shadow: 0 6px 6px -5px #ff8782;
}



footer{
	height: 50px;
}