.site-title {
	float: right;
}

.form-group {
	margin-top: 1.5rem;
}

.calendario {
	margin-left: 3.5rem;
}

.schedule__table td {
	height: 40px;
}

li {
	list-style: none;
}

.ramos_mobile {
	background-color: #cccccc;
    border: 1px;
	float:left;
	margin:0px 17px 20px 17px;
}
.section-selected{
	border: 3px solid greenyellow;
}

.td-data-hour--subject-postulate {
	background-color: #f2f9ff;
	box-shadow: 0 8px 6px -6px #b0c4c9;
	border:none;
}

.td-data-hour--subject-required {
	box-shadow: inset 0 0 10px #b0c4c9;
	background-color: #f2f9ff;
	border:none;
}
